.home:after {
  position: absolute;
  font-family: 'FontAwesome';
  top: -12%;
  left: 39%;
  opacity: 0.25;
  color: white;
  font-size: 55px;
  content: "\f015";
}
.calls:after {
  position: absolute;
  font-family: 'FontAwesome';
  top: -9%;
  left: 42%;
  opacity: 0.25;
  color: white;
  font-size: 55px;
  content: "\f095";
}
.applications:after {
  position: absolute;
  font-family: 'FontAwesome';
  top: -9%;
  left: 38%;
  opacity: 0.25;
  color: white;
  font-size: 55px;
  content: "\f00a";
}
.internet:after {
  position: absolute;
  font-family: 'FontAwesome';
  top: -12%;
  left: 40%;
  opacity: 0.25;
  color: white;
  font-size: 55px;
  content: "\f0ac";
}
.alarms:after {
  position: absolute;
  font-family: 'FontAwesome';
  top: -10%;
  left: 38%;
  opacity: 0.25;
  color: white;
  font-size: 55px;
  content: "\f0f3";
}
.breaks:after {
  position: absolute;
  font-family: 'FontAwesome';
  top: -12%;
  left: 39%;
  opacity: 0.25;
  color: white;
  font-size: 50px;
  content: "\f073";
}
.emergency:after {
  position: absolute;
  font-family: 'FontAwesome';
  top: -12%;
  left: 35%;
  opacity: 0.25;
  color: white;
  font-size: 55px;
  content: "\f0a1";
}

.tile-visible{
	padding:0;
	height:60px;
	background-color:#808080;
	display:block; 
}

.sec-tile-visible{
	padding:0;
	background-color:#33414E;
	display:block; 
}

.tile-hidden{
	display:none;
	padding:0;
	/*height:85px;*/
	background-color:#33414E;
}

.tile-stat-hr{
	color:white;
	width:75%;
	margin-top:5px;
	margin-bottom:7px;
}

.tile-arrow{
	color:white;
	font-size:15px;
	padding-top:7px;
}

.stat-number{
	color:white;
	font-weight:bold;
}

.text-white{
	color:white !important;
}

.no-bottom-margin{
	margin-bottom:0px;
}

.top-bar-style{
	height:50px;
	width:100%;
	background-color:#607D8B;
	position:fixed;
	z-index:1000;
}

.body-bottom-set {
    margin:0px; 
	margin-bottom:10px;
	overflow-y: hidden;
}

.tile-heading{ 
	background-color:#33414E !important; 
}

.left-menu{
	height:100% !important;
	padding:0px !important;
}

.right-menu{
	height:auto !important;
	padding:0px !important;
}

.sidebar-container{
	height:100% !important;
	margin-top:65px !important;
}

.dev-list-dev-icon{
	font-size:60px; 
	padding:0px;
}

.dev-list-bat-icon{
	font-size:15px;
}

.no-dev-info-head{
	font-size:18px;
}

.no-dev-bold{
	font-size:15px;
	color:black;
}

.no-dev-text{
	font-size:13px;
	color:black;
}

.no-dev-badge{
	padding:8px 13px;
	font-size:18px;
	background-color:#4285F4;
	border-radius:50%;
}

.module-panel-back-arrow{
	color:white;
	font-size:20px;
	padding-top:5px;
}

.module-panel-title{
	color:white !important;
	font-size:28px !important;
}

.module-panel-device-name{
	color:white !important; 
	font-size:20px !important;
	font-weight:bold !important;
}