.device-show-div {
  cursor:pointer; 
  border: solid 1px;
  border-radius: 5px;
  margin: 3px;
}
.device-show-div:hover{
	color: #3C3C3C;
	background-color: #8DEFB9 !important;
}
.selected-device{
	color:#4E4E4E;
	background-color: #A2F2C6;
	/* #D2D2D2; */
}
.unselected-device{
	color:#4E4E4E;
}
