.calls:after {
  position: absolute;
  font-family: 'FontAwesome';
  top: -8%;
  left: 22%;
  opacity: 0.25;
  color: white;
  font-size: 150px;
  content: "\f095";
}
.applications:after {
  position: absolute;
  font-family: 'FontAwesome';
  top: -9%;
  left: 15%;
  opacity: 0.25;
  color: white;
  font-size: 150px;
  content: "\f00a";
}
.internet:after {
  position: absolute;
  font-family: 'FontAwesome';
  top: -10%;
  left: 20%;
  opacity: 0.25;
  color: white;
  font-size: 150px;
  content: "\f0ac";
}
.alarms:after {
  position: absolute;
  font-family: 'FontAwesome';
  top: -9%;
  left: 15%;
  opacity: 0.25;
  color: white;
  font-size: 150px;
  content: "\f0f3";
}
.breaks:after {
  position: absolute;
  font-family: 'FontAwesome';
  top: -12%;
  left: 18%;
  opacity: 0.25;
  color: white;
  font-size: 150px;
  content: "\f073";
}
.emergency:after {
  position: absolute;
  font-family: 'FontAwesome';
  top: -12%;
  left: 18%;
  opacity: 0.25;
  color: white;
  font-size: 150px;
  content: "\f0a1";
}
